.homeContent{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: brown;
    color: #fff;
    flex-direction: column;
}
.userDetails{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userDetails img {
    height: 80px;
    width: 80px;
    margin: 0px auto;
    border-radius: 50%;
  }